build
.DS_Store
*.pbxuser
*.mode1v3
ipad-portfolio.xcodeproj/project.xcworkspace
ipad-portfolio.xcworkspace/xcshareddata/
Workspaces/Pholio.xcworkspace/xcshareddata
xcuserdata
*.ipa
.sass-cache
.hg*
UnitTests/Pholio-2.1.1 Documents
Classes/IPFlickrApiKeys.h
Classes/IPDropBoxApiKeys.h
TestFlight/Pholio-TestFlight.h
