- content_for :head do
  %title How to import pictures
  
%h1 How to import pictures

%h6 How to create a new gallery
:maruku
  1. Tap and hold anywhere on the screen. This will bring up the context menu. Tap *Add*.
  2. Select the pictures for your new gallery. Tap *Done*.
  
%h6 How to rename a gallery
:maruku
  1. Tap the gallery display all of the gallery pictures in a grid. The gallery title should be in the title bar.
  2. Tap the gallery title in the title bar. Type the new gallery name.
  
%h6 How to delete a gallery
:maruku
  1. Navigate to the Pholio main screen.
  2. Tap and hold the gallery you want to delete. This will bring up the context menu. Tap *Delete*.
  
%h6 How to change the order of galleries
:maruku
  You can drag and drop galleries on the Pholio main screen to rearrange them.