- content_for :head do
  %title Pholio Help

%h1 Pholio Help

:maruku
  This user guide will help you get the most out of Pholio.
  
  - [How to import pictures](import.html)
  - How to organize content
  - How to customize Pholio's appearance